.grid {
	display: grid;
	grid-template-columns: repeat(
		12,
		1fr
	);
	padding: 16px;
}

.grid .subgrid {
	grid-column-start: 1;
	grid-column-end: 13;
}

.grid .subgrid .homebody {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	gap: 16px;
	margin-top: 22px;
}

.homebody strong {
	font-size: 1.5em;
	text-decoration: underline;
}

.grid .buttonsList {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	gap: 12px;
	width: 100%;
}

.grid .buttonsList a {
	background: #000;
	color: #fff;
	padding: 15px 30px;
	border-radius: 6px;
	font-size: 18px;
	width: 70%;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.grid .subgrid {
		grid-column-start: 2;
		grid-column-end: 12;
	}

	.grid .subgrid .homebody {
		justify-content: start;
		align-items: start;
	}

	.grid .buttonsList {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.grid .buttonsList a {
		width: 32%;
	}
}
