@import url("https://fonts.googleapis.com/css2?family=Inter");

* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

.header {
	display: grid;
	grid-template-columns: repeat(
		12,
		1fr
	);
	padding: 16px;
}

.header .subhead {
	grid-column-start: 1;
	grid-column-end: 13;
}

.header .subhead section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .subhead section h1 {
	font-size: 1.5em;
}

.header nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.header nav a {
	color: #000;
	font-size: 24px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
	padding: 20px 0;
}

footer p {
	text-align: center;
	font-size: 24px;
}

@media screen and (min-width: 768px) {
	.header .subhead {
		grid-column-start: 2;
		grid-column-end: 12;
	}
}
